.primary-butt{
    background-color: #634E91 !important;
    width: 90px !important;
    padding: 9px 15px;
    border: none !important;
    color: #fefefe;
    border-radius: 3px;
    margin: 3%;
    font-weight: 100;
    cursor: pointer;
}

.sec-butt{
    background-color: transparent;
    width: 90px;
    padding: 9px 15px;
    border: 1px solid #634E91;
    color: #fefefe;
    border-radius: 3px;
    margin: 3%;
    font-weight: 100;
    cursor: pointer;
}

.dark-butt{
    background-color: #737E7E;
    width: 90px;
    padding: 9px 15px;
    border: none;
    color: #fefefe;
    border-radius: 3px;
    margin: 3%;
    font-weight: 200;
    border: 1px solid #737E7E;
    cursor: pointer;
}

.plan-butt{
    width: 55% !important;
    padding: 10px !important;
    font-size: 0.9rem !important;
}

