body {
    font-family: 'Raleway', Helvetica !important;
    font-weight: 100;
}

#cont-wrapper {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    max-width: 85.41666vw;
    margin: 0 auto;
    padding-top: 5.741vh;
    padding-bottom: 5.741vh;
}

#addr-container {
    display: grid;
    grid-template-columns: 24fr 79fr;
    padding-top: 2.5vh;
}

#address p {
    font-weight: bold;
}

#form-wrapper {
    margin: 0 auto;
    padding-right: 80px;
}

#name-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding-top: 2.5vh;
}

#surname {
    width: 100%;
    border-bottom: solid 1px #707070;
}

#name {
    width: 80%;
    border-bottom: solid 1px #707070;
}

.cont-form-input {
    margin-bottom: 6px;
    border: none;
    width: 100%;
}

#submit-form-button {
    padding-top: 2.5vh;
}

#submit-form-button button {
    margin: 0;
}

.input-border-bottom {
    border-bottom: solid 1px #707070;
    margin-top: 40px;
}

.province{
    margin-top: 20% !important;
}